
<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Veterinaria</ion-title>
    </ion-toolbar>
  </ion-header>
  

  <ion-card>
    <img aling="center" src="assets/img/logo.jpg" />
    <ion-card-header>
      <ion-card-title></ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
    Contamos con los mejores Médicos Veterinarios con formación académica de calidad para ofrecerles las herramientas necesarias para cuidar de tu mascota.
    Consultá todas nuestras sucursales de hospitales veterinarios y visítanos para poder ayudarte<br /> y ayudar a tu compañero
    <ion-card-content>

    </ion-card-content>


  </ion-card>
 
    <ion-button size="regular" href="/register">Registrarse</ion-button>

    <ion-button size="regular" href="/login">Inicio de sesion</ion-button>
  
</ion-content>
